/* Allmän stil för hela sidan */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Sidhuvud */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2%; /* Använd procentuella värden för att göra det responsivt */
}

/* Navigationsmeny */
nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #333;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 10%; /* Använd procentuella värden för att göra det responsivt */
}

nav a {
    color: #fff;
    text-decoration: none;
}

/* Dagar */
section {
    margin: 2%; 
    padding: 0%; 
    box-sizing: border-box;
    width: 98%; /* Använd procentuella värden för att anpassa bredden */
}

/* Sidfot */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1%;
    width: 98%;
}

.exercise-form {
    display: table;
}

.exercise {
    display: table-row;
    padding: 2%; 
    box-sizing: border-box;
}

.add-exercise {
    margin-top: 2%; 
}

.save-button {
    
   
}

.save-button:hover {
    background-color: #29c33e; 
}

.add-exercise:hover {
    background-color: #1a6fca;
}
